.profile-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 35px;
}
.profile-form__name{
    margin: 40px 0 106px;
    font-size: 24px;
    font-weight: 500;
}

.profile-form__field{
    max-width: 410px;
    display: flex;
    align-items: baseline;
    font-size: 11px;
    font-weight: 400;
}

.profile-form__info{
    padding: 17px 0 16px;
    width: 360px;
    border: 0;
    
    height: 14px;
    color: #000;
    font-size: 11px;
    font-weight: 500;
}

.profile-form__line{
    margin: 0;
    width: 410px;
    border-bottom: 1px solid #E8E8E8;
}

.profile-form__save{
    margin-top: 202px;
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
    background: none;
    border: none;
    transition: ease-out 0.2s;
}
.profile-form__save:hover {
    opacity: .4;
}

.profile__signin-link{
    margin-top: 16px;
    font-size: 13px;
    font-weight: 500;
    line-height: normal;
    color: #EE3465;
    text-decoration: none;
}
.profile__signin-link:hover {
    opacity: .4;
    transition: ease-out 0.2s;
}

@media screen and (max-width: 768px) {
    .profile-form__name {
        margin: 200px 0 81px;
    }

    .profile-form__save {
        margin-top: 194px;
    }
  }
@media screen and (max-width: 500px) {
    .profile-form__name {
        margin: 35px 0 65px;
    }

    .profile-form__field {
        width: 260px;
    }

    .profile-form__info {
        width: 260px;
    }

    .profile-form__line {
        width: 260px;
    }

    .profile-form__save {
        margin-top: 360px;
        font-size: 12px;
    }

    .profile__signin-link {
        font-size: 12px;
    }
}
