.portfolio {
    height: 405px;
    padding: 0px 75px 20px 70px;
}


.portfolio__list {
    padding: 0;
    list-style: none;
}
.portfolio__element {
    border-bottom: 1px solid #E8E8E8;
    text-decoration: none;
    padding: 20px 0 17px;
}
.portfolio__element:last-child {
    border: none;
}

.portfolio__link {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    transition: ease-out 0.2s;
    text-decoration: none;
    color: #000;
    display: flex;
    cursor: pointer;
}
.portfolio__link:hover {
    opacity: 0.6;
    cursor: pointer;
}

.portfolio__link:focus-visible {
    outline: #3456f3 solid;
    border-radius: 2px;
}

.portfolio__link-text {
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -1.2px;
    font-size: 30px;
    text-decoration: none;
}
.portfolio__arrow {
    width: 17px;
    height: 17px;
}

.portfolio__title {
    margin: 0;
    padding-bottom: 15px;
    color: #A0A0A0;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    text-align: start;
}

@media screen and (max-width: 768px) {
    .portfolio {
        padding: 55px 55px 20px 50px;
     }

    .portfolio__link-text {
        font-size: 28px;
        letter-spacing: -1.12px;
     }
}

@media screen and (max-width: 450px) {
    .portfolio__title {
        font-size: 14px;
        padding-bottom: 5px;
    }
    
    .portfolio__element {
        padding: 20px 0;
    }

    .portfolio__link-text {
        font-size: 18px;
        line-height: 28px;
        letter-spacing: -0.72px;
     }

    .portfolio__arrow {
        width: 11px;
    }

    .portfolio {
        height: 250px;
        padding: 40px 18px 20px 14px;
    }
}
