.promo{
  display: flex;
  height: 524px;
  background-color:#DDDEE3;
  position: relative;
  background-image: url(../../images/promo.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 322px 320px;
  background-position: center top 40%;
  z-index: 1;
  color: #000000;
}

.promo__name{
    max-width: 730px;
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -2px;
    margin: 0 auto;
    padding-top: 184px;

}

@media screen and (max-width: 768px) {
    .promo {
        height: 784px;
        background-position: center top 48%;
     }
    
    .promo__name {
        padding-top: 326px;
     }
}

@media screen and (max-width: 700px) {
    .promo__name {
        max-width: 500px;
     }
}

@media screen and (max-width: 570px) {
    .promo {
        background-size: 248.004px 248.005px;
        background-position: center top 44%;
        height: 570px;
     }

    .promo__name {
        max-width: 300px;
        line-height: 39px;
        letter-spacing: -1.26px;
        padding-top: 207px;
        font-size: 31px;
     }
}
