.search {
  margin: 0 auto;
  max-width: 1280px;
  box-sizing: border-box;
  background: #FAFAFA;
  padding: 70px;
}

.search-container {
    display: flex;
    Justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 46px;
}

.search-form {
    background: #fff;
    border-radius: 9px;
    display: flex;
    Justify-content: space-between;
    align-items: center;
    height: 46px;
    box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
    padding: 13px 19px;
}

.search-form:focus-within {
    outline: 2px solid rgba(0, 0, 0, 0.08);
}

.search-form__icon {
    width: 34px;
    height: 34px;
}

.search-form__input {
    margin-right: auto;
    background: #fff;
    border: none;
    color: #A0A0A0;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 18px;
    font-weight: 400;
    width: 100%;
    line-height: 20px;
    outline: none;
    padding: 25px 10px;
}
.search-form__input::placeholder {
    color: #A0A0A0;
}

.search-form__btn {
    background: transparent url(../../images/find.svg) no-repeat;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    padding: 0;
    width: 34px;
    height: 34px;
    background-repeat: no-repeat;
    flex-shrink: 0;
}

.search-form__btn:hover {
 opacity: .8;
 transition: ease-out 0.2s;
}

.search-form__submit-error {
  display: flex;
  margin-top: 2px;
  color: #FF004C;
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0;
  align-self: flex-start;
  min-height: 14px;
}

.search-form__submit-error_active {
  opacity: 1;
}


@media screen and (max-width: 768px) {
    .search {
        padding: 80px 30px 110px;
    }

    .search-form__input {
        padding: 25px 8px;
    }
}

@media screen and (max-width: 660px) {
    .search-container {
        margin-bottom: 60px;
    }

    .search-form {
      flex-direction: column;
  }
}

@media screen and (max-width: 470px) {
    .search-form__input {
        font-size: 14px;
        padding: 25px 0;
    }

    .search-form__icon {
        display: none;
    }
}

@media screen and (max-width: 320px) {
    .search {
        padding: 80px 10px 110px;
    }
}

