.register {
    max-width: 1280px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
    display: flex;
}

.register-form{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    max-width: 396px;
}


.register-form__title {
    margin: 38px 0;
    font-size: 24px;
    font-weight: 500;
}


.register-form__field{
    display: flex;
    font-weight: 400;
    flex-direction: column;
    align-items: flex-start;
    color: #A0A0A0;
    font-size: 10px;
}
.register-form__info{
    border: 0;
    background:  #F9F9F9;
    height: 22px;
    padding: 14px;
    margin-top: 10px;
    margin-bottom: 18px;
    width: 370px;
    border-radius: 8px;
    color: #000;
    font-size: 13px;
    font-weight: 500;
}
.register-form__info:last-child{
    margin-bottom: 15px;
}


.register-form__error{
    color: #EE3465;
    align-self: flex-start;
    font-size: 10px;
    font-weight: 400;
    margin: 0;
    line-height: normal;
}

.register-form__save{
    height: 45px;
    background:  #3456F3;
    border-radius: 3px;
    border: 0;
    color: #FFF;
    margin-top: 66px;
    width: 396px;
    font-size: 14px;
    font-weight: 500;
}


.register-form__save:hover {
    cursor: pointer;
    opacity: .8;
}
  
.register-form__save:disabled {
    cursor: default;
    opacity: .2;
}

.register__signin{
    width: 100%;
    justify-content: center;
    font-size: 14px;
    display: flex;
    padding-top: 16px;
    font-weight: 400;
}

.register__signin-text{
    margin: 0;
    margin-right: 6px;
    color: #A0A0A0;
}
.register__signin-link{
    color: #3456F3;
    text-decoration: none;
}

.register__signin-link:hover {
    opacity: .4;
}

@media screen and (max-width: 768px) {
    .register {
      padding-top: 232px;
    }
}
@media screen and (max-width: 530px) {
    .register {
      padding-top: 56px;
    }

    .register-form {
        width: 260px;
        align-items: center;
    }

    .register-form__title {
        margin: 47px auto 80px;
    }

    .register-form__save {
        margin-top: 152px;
        width: 260px;
        font-size: 12px;
    }

    .register__signin {
        font-size: 12px;
    }
}
