.register {
  max-width: 1280px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 70px 0;
  display: flex;
}

.register-form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  max-width: 396px;
}

.register-form__title {
  margin: 38px 0;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
}

.register-form__field {
  width: 100%;
  gap: 5px;
  display: flex;
  font-weight: 400;
  flex-direction: column;
  align-items: flex-start;
  color: #a0a0a0;
  font-size: 10px;
  line-height: 12px;
}

.register-form__field:first-of-type {
  padding: 0;
}
.register-form__info {
  width: 100%;
  padding: 0;
  padding-bottom: 5px;
  margin: 0;
  border: none;
  height: 22px;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  background-color: initial;
  border-bottom: 1px solid #e8e8e8;
}

.register-form__info:focus {
  outline: none;
  border-color: #a8a8a8;
}

.register-form__error {
  padding-top: 6px;
  font-size: 10px;
  font-weight: 400;
  min-height: 20px;
  line-height: 1;
  margin: 0;
  color: #ee3465;
  text-align: left;
  opacity: 0;
}

.register-form__error_active {
  opacity: 1;
}

.register-form__submit-error {
  margin-top: 90px;
  color: #FF004C;
  text-align: center;
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0;
  align-self: center;
  min-height: 14px;
}

.register-form__submit-error {
  opacity: 1;
}

.register-form__save {
  position: relative;
  height: 45px;
  background: #3456f3;
  border-radius: 3px;
  border: 0;
  color: #fff;
  margin-top: 20px;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
}

.register-form__save:hover {
  cursor: pointer;
  opacity: 0.8;
}

.register-form__save:disabled {
  pointer-events: none;
  background-color: #f3f3f3;
  color: #c2c2c2;
}

.register__signin {
  width: 100%;
  justify-content: center;
  font-size: 14px;
  display: flex;
  padding-top: 16px;
  font-weight: 400;
}

.register__signin-text {
  margin: 0;
  margin-right: 6px;
  color: #a0a0a0;
}
.register__signin-link {
  color: #3456f3;
  text-decoration: none;
}

.register__signin-link:hover {
  opacity: 0.4;
}

@media screen and (max-width: 768px) {
  .register {
    padding-top: 232px;
  }
}
@media screen and (max-width: 530px) {
  .register {
    padding-top: 56px;
  }

  .register-form__info {
    width: 260px;
  }

  .register-form {
    width: 260px;
    align-items: center;
  }

  .register-form__title {
    margin: 47px auto 80px;
  }

  .register-form__save {
    margin-top: 222px;
    width: 260px;
    font-size: 12px;
  }

  .register__signin {
    font-size: 12px;
  }
}
