.login {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 70px 0 70px 0;
}
.login__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 396px;
    width: 100%;
}

.login__form_name {
    margin: 40px 0;
    font-size: 24px;
    font-weight: 500;
}

.login__form_field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #A0A0A0;
    font-size: 10px;
    font-weight: 400;
    position: relative;
}
.login__form_info {
    background: #F9F9F9;;
    height: 22px;
    padding: 12px;
    border-radius: 8px;
    color: #000;
    font-size: 13px;
    font-weight: 500;
    margin-top: 8px;
    margin-bottom: 20px;
    width: 370px;
    border: 0;
}

.login__button{
    margin-top: 200px;
    width: 396px;
    height: 45px;
    background:  #3456F3;
    border-radius: 3px;
    border: 0;
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
}


.login__button:hover {
    cursor: pointer;
    opacity: .8;
}
.login__button:disabled {
    cursor: default;
    opacity: .2;
}
.login__support{
    display: flex;
    padding-top: 16px;
    width: 100%;
    justify-content: center;
    font-size: 14px;
    font-weight: 400;
}

.login__support-text{
    margin: 0;
    margin-right: 6px;
    color: #A0A0A0;
}
.login__support-link{
    color: #3456F3;
    text-decoration: none;
}

.login__support-link:hover {
    opacity: .4;
}


@media screen and (max-width: 768px) {
    .login {
      padding-top: 232px;
    }
}
@media screen and (max-width: 530px) {
    .login {
      padding-top: 56px;
    }

    .login__form {
        width: 260px;
        align-items: center;
      }

    .login__form_name {
        margin: 47px auto 80px;
    }

    .login__form_info {
        width: 236px;
     }

     .login__button {
        margin-top: 244px;
        width: 260px;
        font-size: 12px;
    }
    .login__support {
        font-size: 12px;
    }
}
